body {
  background-image: url("https://image.freepik.com/free-vector/sea-background-video-conferencing_52683-43718.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#lobster,
#crab,
#salmon {
  width: 150px;
  height: 150px;
  cursor: pointer;
}

#fact {
  color: white;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
